In [2]:
import pandas as pd
import numpy as np
from datetime import date

In [3]:
mantas_df = pd.DataFrame(pd.read_csv('data/counts.csv'))
mantas_df.head()

,Yr,Mo,Da,Time,Group Size,Toby?,Latitude,Longitude,Full Yr,Full Mo,Full Da,Pre Time,Pre Height,Post Time,Post Height
0,2016,9,24,14.50,3,T,"21°28'8"" N","157°49'14"" W",2016,9,16,10.150000,2.3,18.566667,0.8
1,2018,2,3,8.00,1,T,"21°28'20"" N","157°49'10"" W",2018,1,31,4.566667,2.6,11.466667,0.5
2,2018,4,1,10.50,1,T,"21°28'28"" N","157°49'12"" W",2018,3,31,9.183333,0.0,15.350000,2.2
3,2018,4,29,7.00,1,T,"21°28'6"" N","157°49'6"" W",2018,4,29,1.333333,1.9,8.033333,-0.2
4,2018,9,2,7.25,3,T,"21°28'27"" N","157°49'12"" W",2018,8,26,0.700000,0.2,8.883333,1.8

In [4]:
def get_lunar_day(full_moon_date, obs_date):
    month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    d0 = full_moon_date
    d1 = obs_date
    delta = d1 - d0
    degree = (delta.days/28.0) * 360.0
    return delta, degree

In [5]:
lunar_days = []
lunar_deg = []
for i in range(mantas_df.shape[0]):
    temp = get_lunar_day(
    date(mantas_df['Full Yr'][i], mantas_df['Full Mo'][i],mantas_df['Full Da'][i]), 
    date(mantas_df['Yr'][i],mantas_df['Mo'][i], mantas_df['Da'][i]))
    lunar_days.append(temp[0])
    lunar_deg.append(temp[1])

mantas_df['lunar_day'] = lunar_days
mantas_df['lunar_deg'] = lunar_deg
mantas_df.head()

,Yr,Mo,Da,Time,Group Size,Toby?,Latitude,Longitude,Full Yr,Full Mo,Full Da,Pre Time,Pre Height,Post Time,Post Height,lunar_day,lunar_deg
0,2016,9,24,14.50,3,T,"21°28'8"" N","157°49'14"" W",2016,9,16,10.150000,2.3,18.566667,0.8,8 days,102.857143
1,2018,2,3,8.00,1,T,"21°28'20"" N","157°49'10"" W",2018,1,31,4.566667,2.6,11.466667,0.5,3 days,38.571429
2,2018,4,1,10.50,1,T,"21°28'28"" N","157°49'12"" W",2018,3,31,9.183333,0.0,15.350000,2.2,1 days,12.857143
3,2018,4,29,7.00,1,T,"21°28'6"" N","157°49'6"" W",2018,4,29,1.333333,1.9,8.033333,-0.2,0 days,0.000000
4,2018,9,2,7.25,3,T,"21°28'27"" N","157°49'12"" W",2018,8,26,0.700000,0.2,8.883333,1.8,7 days,90.000000

In [6]:
def tide(pre_h, post_h, pre_t, post_t, time):
    tide = (time - pre_t)/(post_t-pre_t)*180   
    if((pre_h - post_h) < 0):  #rising
        tide += 180
    return tide

In [7]:
tidal_phase = []
for i in range(mantas_df.shape[0]):
    temp = tide(mantas_df['Pre Height'][i], 
                mantas_df['Post Height'][i], 
                mantas_df['Pre Time'][i],
                mantas_df['Post Time'][i], 
                mantas_df['Time'][i])
    tidal_phase.append(temp)
    
mantas_df['Tidal_phase'] = tidal_phase
mantas_df.head()

,Yr,Mo,Da,Time,Group Size,Toby?,Latitude,Longitude,Full Yr,Full Mo,Full Da,Pre Time,Pre Height,Post Time,Post Height,lunar_day,lunar_deg,Tidal_phase
0,2016,9,24,14.50,3,T,"21°28'8"" N","157°49'14"" W",2016,9,16,10.150000,2.3,18.566667,0.8,8 days,102.857143,93.029703
1,2018,2,3,8.00,1,T,"21°28'20"" N","157°49'10"" W",2018,1,31,4.566667,2.6,11.466667,0.5,3 days,38.571429,89.565217
2,2018,4,1,10.50,1,T,"21°28'28"" N","157°49'12"" W",2018,3,31,9.183333,0.0,15.350000,2.2,1 days,12.857143,218.432432
3,2018,4,29,7.00,1,T,"21°28'6"" N","157°49'6"" W",2018,4,29,1.333333,1.9,8.033333,-0.2,0 days,0.000000,152.238806
4,2018,9,2,7.25,3,T,"21°28'27"" N","157°49'12"" W",2018,8,26,0.700000,0.2,8.883333,1.8,7 days,90.000000,324.073320

In [8]:
mantas_df.head()

,Yr,Mo,Da,Time,Group Size,Toby?,Latitude,Longitude,Full Yr,Full Mo,Full Da,Pre Time,Pre Height,Post Time,Post Height,lunar_day,lunar_deg,Tidal_phase
0,2016,9,24,14.50,3,T,"21°28'8"" N","157°49'14"" W",2016,9,16,10.150000,2.3,18.566667,0.8,8 days,102.857143,93.029703
1,2018,2,3,8.00,1,T,"21°28'20"" N","157°49'10"" W",2018,1,31,4.566667,2.6,11.466667,0.5,3 days,38.571429,89.565217
2,2018,4,1,10.50,1,T,"21°28'28"" N","157°49'12"" W",2018,3,31,9.183333,0.0,15.350000,2.2,1 days,12.857143,218.432432
3,2018,4,29,7.00,1,T,"21°28'6"" N","157°49'6"" W",2018,4,29,1.333333,1.9,8.033333,-0.2,0 days,0.000000,152.238806
4,2018,9,2,7.25,3,T,"21°28'27"" N","157°49'12"" W",2018,8,26,0.700000,0.2,8.883333,1.8,7 days,90.000000,324.073320

In [9]:
mantas_clean = mantas_df.drop(columns = ['Toby?', 'Full Yr', 'Full Mo', 'Full Da', 'Pre Time', 'Pre Height', 'Post Time', 'Post Height'])
mantas_clean.head()

,Yr,Mo,Da,Time,Group Size,Latitude,Longitude,lunar_day,lunar_deg,Tidal_phase
0,2016,9,24,14.50,3,"21°28'8"" N","157°49'14"" W",8 days,102.857143,93.029703
1,2018,2,3,8.00,1,"21°28'20"" N","157°49'10"" W",3 days,38.571429,89.565217
2,2018,4,1,10.50,1,"21°28'28"" N","157°49'12"" W",1 days,12.857143,218.432432
3,2018,4,29,7.00,1,"21°28'6"" N","157°49'6"" W",0 days,0.000000,152.238806
4,2018,9,2,7.25,3,"21°28'27"" N","157°49'12"" W",7 days,90.000000,324.073320

In [10]:
mantas_clean['ID'] = mantas_clean.index
mantas_clean

,Yr,Mo,Da,Time,Group Size,Latitude,Longitude,lunar_day,lunar_deg,Tidal_phase,ID
0,2016,9,24,14.500000,3,"21°28'8"" N","157°49'14"" W",8 days,102.857143,93.029703,0
1,2018,2,3,8.000000,1,"21°28'20"" N","157°49'10"" W",3 days,38.571429,89.565217,1
2,2018,4,1,10.500000,1,"21°28'28"" N","157°49'12"" W",1 days,12.857143,218.432432,2
3,2018,4,29,7.000000,1,"21°28'6"" N","157°49'6"" W",0 days,0.000000,152.238806,3
4,2018,9,2,7.250000,3,"21°28'27"" N","157°49'12"" W",7 days,90.000000,324.073320,4
5,2018,9,19,7.000000,1,"21°28'37"" N","157°49'34"" W",24 days,308.571429,236.478555,5
6,2018,10,2,7.250000,2,"21°28'17"" N","157°49'9"" W",8 days,102.857143,307.300380,6
7,2018,10,4,10.250000,8,"21°28'36"" N","157°49'22"" W",10 days,128.571429,326.743649,7
8,2018,10,6,9.500000,2,"21°28'31"" N","157°49'17"" W",12 days,154.285714,268.355091,8
9,2018,10,13,7.000000,1,"21°28'25"" N","157°49'12"" W",19 days,244.285714,42.173913,9
10,2018,12,1,12.250000,3,"21°28'49"" N","157°49'34"" W",9 days,115.714286,56.124722,10
11,2019,1,12,9.250000,1,"21°28'39"" N","157°49'27"" W",21 days,270.000000,73.375796,11
12,2019,1,20,17.150000,9,"21°28'41"" N","157°49'29"" W",0 days,0.000000,107.299270,12
13,2019,1,21,7.750000,1,"21°28'38"" N","157°49'18"" W",1 days,12.857143,119.277108,13
14,2019,6,14,6.500000,2,"21°28'41"" N","157°49'31"" W",27 days,347.142857,184.583333,14
15,2019,9,25,7.000000,6,"21°28'35"" N","157°49'23"" W",12 days,154.285714,215.566265,15
16,2019,9,27,7.250000,4,"21°28'38"" N","157°49'33"" W",14 days,180.000000,178.575198,16
17,2019,9,28,8.500000,3,"21°28'50"" N","157°49'34"" W",15 days,192.857143,192.892562,17
18,2019,10,7,8.250000,1,"21°28'48"" N","157°49'28"" W",24 days,308.571429,283.876652,18
19,2019,10,19,9.250000,3,"21°28'43"" N","157°49'31"" W",6 days,77.142857,28.192771,19
20,2019,12,9,7.250000,2,"21°28'51"" N","157°49'38"" W",27 days,347.142857,169.551451,20
21,2020,4,5,7.300000,9,"21°28'40"" N","157°49'27"" W",27 days,347.142857,174.253438,21
22,2020,4,6,7.250000,1,"21°28'39"" N","157°49'26"" W",28 days,360.000000,162.000000,22
23,2020,4,8,10.300000,2,"21°28'41"" N","157°49'30"" W",1 days,12.857143,222.015915,23
24,2020,4,10,7.300000,1,"21°28'52"" N","157°49'39"" W",3 days,38.571429,112.390244,24
25,2020,4,11,9.500000,5,"21°29'2"" N","157°49'45"" W",4 days,51.428571,156.814988,25
26,2020,4,21,7.250000,6,"21°28'29"" N","157°49'13"" W",14 days,180.000000,166.466165,26
27,2020,5,9,7.000000,0,NaN,NaN,2 days,25.714286,122.280285,27
28,2020,5,14,7.000000,0,NaN,NaN,7 days,90.000000,231.780822,28
29,2020,5,15,6.750000,1,"21°28'54"" N","157°49'37"" W",8 days,102.857143,210.096463,29
...,...,...,...,...,...,...,...,...,...,...,...
82,2020,9,14,7.000000,0,NaN,NaN,12 days,154.285714,205.714286,82
83,2020,9,23,6.733333,1,"21°28'50"" N","157°49'35"" W",21 days,270.000000,313.820225,83
84,2020,9,23,6.733333,1,"21°29'3"" N","157°49'42"" W",21 days,270.000000,313.820225,84
85,2020,9,26,6.350000,1,"21°29'22"" N","157°49'38"" W",24 days,308.571429,221.662921,85
86,2020,9,30,7.000000,0,NaN,NaN,28 days,360.000000,165.040214,86
87,2020,10,6,6.600000,3,"21°28'26"" N","157°49'12"" W",5 days,64.285714,45.826772,87
88,2020,10,6,6.600000,2,"21°28'8"" N","157°49'7"" W",5 days,64.285714,45.826772,88
89,2020,10,6,6.600000,1,"21°28'38"" N","157°49'27"" W",5 days,64.285714,45.826772,89
90,2020,10,9,6.450000,8,"21°28'18"" N","157°49'10"" W",8 days,102.857143,305.816327,90
91,2020,10,9,6.450000,1,"21°28'40"" N","157°49'26"" W",8 days,102.857143,305.816327,91
92,2020,10,9,6.450000,1,"21°28'32"" N","157°49'19"" W",8 days,102.857143,305.816327,92
93,2020,10,9,6.450000,1,"21°28'24"" N","157°49'11"" W",8 days,102.857143,305.816327,93
94,2020,10,11,7.566667,3,"21°28'41"" N","157°49'28"" W",10 days,128.571429,276.414687,94
95,2020,10,11,7.566667,2,"21°28'32"" N","157°49'16"" W",10 days,128.571429,276.414687,95
96,2020,10,11,7.566667,1,"21°28'32"" N","157°49'20"" W",10 days,128.571429,276.414687,96
97,2020,10,11,7.566667,1,"21°28'15"" N","157°49'8"" W",10 days,128.571429,276.414687,97
98,2020,10,14,6.600000,3,"21°28'20"" N","157°49'10"" W",13 days,167.142857,181.451613,98
99,2020,10,14,6.600000,1,"21°28'11"" N","157°49'10"" W",13 days,167.142857,181.451613,99
100,2020,10,15,6.783333,2,"21°28'12"" N","157°49'9"" W",14 days,180.000000,162.673797,100
101,2020,10,15,6.783333,1,"21°28'22"" N","157°49'11"" W",14 days,180.000000,162.673797,101
102,2020,10,17,7.300000,1,"21°28'29"" N","157°49'12"" W",16 days,205.714286,130.736842,102
103,2020,10,22,7.216667,2,"21°28'10"" N","157°49'18"" W",21 days,270.000000,340.296846,103
104,2020,10,24,16.133333,3,"21°28'27"" N","157°49'12"" W",23 days,295.714286,124.844720,104
105,2020,10,24,16.133333,2,"21°28'40"" N","157°49'30"" W",23 days,295.714286,124.844720,105
106,2020,10,24,16.133333,1,"21°28'14"" N","157°49'16"" W",23 days,295.714286,124.844720,106
107,2020,10,25,8.433333,1,"21°28'48"" N","157°49'34"" W",24 days,308.571429,288.679245,107
108,2020,10,31,6.833333,1,"21°28'40"" N","157°49'32"" W",0 days,0.000000,129.523810,108
109,2020,11,1,8.533333,1,"21°28'34"" N","157°49'21"" W",1 days,12.857143,160.312500,109
110,2020,11,5,6.700000,3,"21°28'15"" N","157°49'8"" W",5 days,64.285714,10.876133,110
111,2020,11,5,6.700000,1,"21°28'11"" N","157°49'11"" W",5 days,64.285714,10.876133,111

In [11]:
mantas_clean.to_csv('data/clean_data.csv')